doctype html
html
  head
    title Weather API Info - Weather API
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    nav 
      ui 
       li 
        a(href="/")
          | Home
        li
          a(href="/weather")
            | Weather  
    .container(style="padding-top: 100px")
      .row
        .col-md-12
        <!--Show what the weather is like-->
        h1(class="text-center")
          | Weather API
          img(src=icon, alt="yes" class="logo-icon")
        h3(class="text-center")
          | Weather API is a simple weather API that allows you to get the weather for any city in the world.
        h4(class="text-center")
          | What the return data looks like:
        .card(class="bg-dark text-white")
          .card-header(class="text-center")
            | Return Data
          .card-body(class="text-center")
            | { "city": "#{city}",
            |   "country": "#{country}",
            |   "localtime": "#{localtime}",
            |   "temp_c": "#{temp_c}°C",
            |   "temp_f": "#{temp_f}°F",
            |   "humidity": "#{humidity}%",
            |   "wind": "#{wind_speed}",
            |   "text": "#{text}",
            |   "clouds": "#{cloud_cover}%",
            |   "icon": "#{icon}" }
          .card-footer(class="text-center")
            | Copyright &copy; 2022 Blue's Weather API